numpy
xlrd==1.2.0
plotly==4.5.2
streamlit==0.80.0
datashader==0.12.0
holoviews
pyvis==0.1.9
matplotlib==2.2.5
scikit-image
networkx==2.5.1
pandas==1.1.0
pyveplot
seaborn==0.9.1
openpyxl==3.0.0
click==8
